.main_container {
    width: 900px;
    overflow: hidden;
    margin: 100px auto 30px;
}

.leftPart {
    width: 500px;
    height: 380px;
    float: left;
    position: relative;
    display: block;
}
.leftimg {
	background-image: url("image/background.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 90px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}
.leftColor {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    border-top-left-radius: 90px;
    border: 1px solid blue;
}

/*starting right side css*/
.rightPart {
    width: 398px;
    height: 378px;
    float: right;
    border: 1px solid blue;
    border-bottom-right-radius: 90px;
    background-color: aliceblue;
}

.titleLogin{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    color: skyblue;	
}

.mainFormat {
	width: 310px;
    height: 415px;
    margin: 32px auto;
}

.loginFormatID{
    width: 310px;
    height: 42px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;	
}

.inputID{
    width: 100%;
    height: 97%;
    font-size: 19px;
    color: black;
    text-indent: 10px;
    border: 0;
    outline: none;
}

.loginFormatPWD{
    width: 310px;
    height: 42px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.inputPWD{
    width: 100%;
    height: 97%;
    font-size: 19px;
    color: black;
    text-indent: 10px;
    border: 0;
    outline: none;
}

.create {
    float: left;
    font-size: 12px;
    cursor: pointer;
    color: blue;
}

.create:hover {
    color: red;
}

.forgot {
    float: right;
    font-size: 12px;
    cursor: pointer;
    color: blue;
}

.forgot:hover {
    color: red;
}

.submit_button{
	margin-top: 30px;
	max-width: 100px;
	max-height: 100px; 
	min-width: 300px; 
	min-height: 30px;
	background-color: skyblue;
}

.submit_button:hover {
	background-color: red;
}